/***font importation, variable construction etc.***/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/***page setup***/
*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red:#ff0000ab;
    --blue:#0036faa6;
    --black:#3d3d3d;
    --white:#ffffff;
    --transparent-white:#f8f8f883;
    --grey-hover:#e2e2e2;
}

/*typography*/
html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
h1 {
    font-size:2rem;
}
h2 {
    font-size: 5rem;
}
@media screen and (max-width:768px) {
    h2 {
        font-size: 3rem;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

/*COMMON STYLING*/
main {
    position: relative;
    top:75px;
    z-index:1;
}
img {
    width:100%;
    height:100%;
}
.btn {
    border:none;
    background:none;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    padding:5px;
    border-radius: 5px;
    color: var(--black);
    text-decoration: none;
}
.btn:hover {
    background-color: var(--grey-hover);
}
.btn:active {
    border:1px solid var(--grey-hover);
    background: none;
}
.top-banner {
    width:100%;
    background-color: var(--black);
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.background-gradient {
    width:100%;
    min-height: 100vh;
    min-height: 100svh;
    animation-name: background-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    padding-bottom: 50px;
}
/*background animation*/
@keyframes background-animation {
    0% { background-color: #ff0000ab; }
    50% { background-color: #0036faa6; }
    100% { background-color: #ff0000ab; }
}
/*transparent white box, common across pages*/
.transparent-white-box {
    background-color: var(--transparent-white);
    width:80%;
    margin:0 auto;
    border-radius: 5px;
    color:var(--white);
}

/*header*/
.header {
    position:fixed;
    z-index: 10;
    background-color: var(--white);
    width:100%;
    height: 75px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 10%;
}
@media screen and (max-width:768px) {
    .header {
        width:100%;
    }
}
.logo-cont {
    width:10%;
    min-width:100px;
    overflow: hidden;
}
.nav-screen {
    display: none;
}
.nav-screen.active{
    display: block;
    position: fixed;
    top:75px;
    left:0;
    width:100%;
    height:100vh;
    height:100svh;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.nav-list {
    width:80%;
    margin:0 auto;
}
.nav-item {
    list-style: none;
    padding:50px 0;
}
.nav-item a {
    color:var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-item a:hover {
    font-weight: 700;
}

/*HOMEPAGE (index.html)*/
.race {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:25px 0;
}
.race h2 {
    color:var(--white);
    text-transform: uppercase;
}
.flag-cont {
    width:25%;
    height: auto;
    overflow: hidden;
}
.race-predictions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.race-predictions h3 {
    text-transform: capitalize;
    padding:10px;
}
.prediction-selection-names {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name-item {
    width:100%;
    text-align: center;
    padding:5px 0px;
    list-style: none;
    cursor: pointer;
}
.name-item:hover {
    background-color: var(--transparent-white);
    border-radius: 5px 5px 0 0;
}
.individual-prediction {
    background-color: var(--transparent-white);
    border-radius: 0 0 5px 5px;
    width:100%;
}
.prediction-list {
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--black);
}
.ali-pred,
.ed-pred,
.jack-pred,
.toby-pred,
.tom-pred,
.owen-pred {
    display: none;
}
.ali-pred.show-pred,
.ed-pred.show-pred,
.jack-pred.show-pred,
.toby-pred.show-pred,
.tom-pred.show-pred,
.owen-pred.show-pred {
    display: block;
}
.name-item.active {
    background-color: var(--transparent-white);
    color:var(--black);
    border-radius: 5px 5px 0 0;
}

/*STANDINGS PAGE (standings.html)*/
.standings {
    color:var(--white);
    padding:10px 10%;
}
@media screen and (max-width:768px) {
    .standings {
        padding:10px;
    }
}
.flags {
    display:flex;
    margin-bottom: 50px;
}
.flag {
    padding:5px;
    list-style-type: none;
    width:50px;
    height:auto;
    overflow: hidden;
}
.flag:first-child {
    padding-left: 0;
}
.standings-box {
    width:100%;
}
.standings-table {
    width:100%;
    padding:10px;
}
.table-header {
    text-decoration: underline;
    text-align: center;
}
.table-numbers {
    text-align: center;
}
.overall-points {
    font-weight: bold;
}

/*CHAMPIONSHIP PREDICTIONS (champ-predictions.html)*/
.champ-predictions {
    color:var(--white);
    padding:10px 0;
}
@media screen and (max-width:768px) {
    .champ-predictions {
        padding:10px;
    }
}
.constructors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding:10px 0;
}
.team-logo {
    width:50px;
    height:50px;
    overflow: hidden;
}
.drivers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 0;
}
.players-champ-predictions {
    margin:20px auto;
}
.players-champ-predictions h3 {
    text-transform: capitalize;
    text-align: center;
    padding:10px;
}

/*POINTS SYSTEM (points-system.html)*/
.points-system {
    padding: 10px 0;
}
.points-system h3 {
    text-align: center;
    text-transform: capitalize;
}
.points-table {
    margin:0 auto;
    padding:10px 0;
}
.points-table
.bold-row {
    font-weight: bold;
}
.rewards-table {
    margin:0 auto;
    width:100px;
    text-align: center;
}
.text-right {
    text-align: right;
}


