/***font importation, variable construction etc.***/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/***page setup***/
*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red:#ff0000;
    --blue:#0036faa6;
    --black:#141414;
    --grey:#a9a9a9;
    --light-grey:#ededed;
    --white:#ffffff;
    --transparent-white:#f8f8f883;
    --grey-hover:#e2e2e2;
    --green:#209500;
}

/*typography*/
html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
body {
    padding-bottom: 50px;
}
ul, ol {
    list-style: none;
}


/*COMMON STYLING*/
.page-alignment {
    position: relative;
    top:75px;
    z-index:1;
    margin-bottom: 50px;
}
img {
    width:100%;
    height:100%;
}
.btn {
    border:none;
    background:none;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    padding:5px;
    border-radius: 5px;
    color: var(--black);
    text-decoration: none;
}
.btn:hover {
    background-color: var(--grey-hover);
}
.btn:active {
    border:1px solid var(--grey-hover);
    background: none;
}
.h3-title {
    text-transform: capitalize;
    padding:5px 0;
    width:fit-content;
    font-weight: 400;
    font-size: 1rem;
}

/*transparent white box, common across pages*/
.transparent-white-box {
    background-color: var(--transparent-white);
    width:80%;
    margin:0 auto;
    border-radius: 5px;
    color:var(--white);
}

/*header*/
.header {
    position:fixed;
    z-index: 10;
    background-color: var(--white);
    width:100%;
    height: 75px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 10%;
}
@media screen and (max-width:768px) {
    .header {
        width:100%;
    }
}
.logo-cont {
    width:10%;
    min-width:100px;
    overflow: hidden;
}
.nav-screen {
    display: none;
}
.nav-screen.active{
    display: block;
    position: fixed;
    top:75px;
    left:0;
    width:100%;
    height:100vh;
    height:100svh;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.nav-list {
    width:80%;
    margin:0 auto;
}
.nav-item {
    list-style: none;
    padding:50px 0;
}
.nav-item a {
    color: var(--red);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-item a:hover {
    font-weight: 700;
}
.menu-btn, .login-btn {
    font-size: 1.1rem;
}
.login-btn {
    font-style: normal;
}
.login-btn a {
    color: var(--black);
    text-decoration: none;
}
.logged-in-text {
    font-size: 0.5rem;
}
.logged-in-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*HOMEPAGE (index.html)*/
/* top banner */
.race-weekend-hero {
    height:200px;
    background-color: var(--black);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:50px 10%;
}
#race-country {
    text-transform: uppercase;
    font-size: 3rem;
}
@media screen and (max-width:768px) {
    .race-weekend {
        height:150px;
    }
    #race-country {
        font-size: 2rem;
    }
}
@media screen and (max-width:500px) {
    .race-weekend {
        flex-direction: column;
        gap:10px;
        height: auto;
        padding:25px 10%;
    }
    .flag-cont {
        width:100px;
        height:50px;
    }
}
.flag-cont {
    max-width:200px;
    max-height:auto;
    overflow: hidden;
}

.time-banner {
    height:50px;
    padding:0 10%;
    background-color: var(--green);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.timer, .timer-text {
    font-size: 1.5rem;
}
.make-prediction {
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
}
/* stats and predictions box */
.grey-container {
    background-color: var(--light-grey);
    margin:25px 10%;
}
.tabs-list {
    width:100%;
    display:flex;
    align-items: center;
}
.tab {
    list-style: none;
    width:50%;
    padding:10px;
    text-align: center;
    cursor: pointer;
}
.tab:hover, .tab:focus {
    font-weight: 600;
}
.stats-box, .predictions-box {
    padding:10px 0;
    overflow: hidden;
}
.predictions {
    background: var(--white);
}
.stats.hide {
    background: var(--white);
    font-weight: 500;
}
.stats.hide:hover {
    font-weight: 600;
}
.predictions.show {
    background: none;
    font-weight: 600;
}
.stats {
    background: none;
    font-weight: 600;
}



/* show/hide each tab and tab styling */
.predictions-box {
    display: none;
}
.predictions-box.show {
    display: block;
}
.stats-box {
    display: block;
}
.stats-box.hide {
    display:none;
}



/* stats selection */
.stats-h3 {
    padding-bottom:10px;
    cursor: pointer;
}
.stats-h3::after {
    content: '';
    display: block;
    width:0%;
    height:2px;
    background: var(--green);
    transition: width 200ms linear;
}
.stats-h3:hover::after {
    width:100%;
    transition: width 200ms linear;
}
.circuit {
    margin: 0 auto;
    width:90%;
}
.right-arrow {
    transform: rotate(45deg);
    transition: all 200ms linear;
}
.right-arrow.rotate {
    transform: rotate(-45deg);
    transition: all 200ms linear;
}
.previous-results {
    padding: 0 25px;
}


/* hide + show drop-down previous results */
.previous-year-result, .previous-race-result {
    display:none;
}
.previous-year-result.show, .previous-race-result.show {
    display:block;
}


/* predictions selection */
/* name selection */
.names-list {
    width:90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
@media screen and (max-width:768px) {
    .names-list {
        justify-content: flex-start;
    }
}
.name {
    list-style: none;
    padding:10px 25px;
    cursor: pointer;
}
.name:hover, .name:focus {
    font-weight: 600;
}
.ali-pred,
.ed-pred,
.jack-pred,
.toby-pred,
.tom-pred,
.owen-pred {
    padding: 10px 0;
    display:none;
}
.ali-pred.show,
.ed-pred.show,
.jack-pred.show,
.toby-pred.show,
.tom-pred.show,
.owen-pred.show {
    display:block;
}
.name.active {
    font-weight: 600;
}

/* predictions form styling */
.prediction-title {
    margin-left: 25px;
}
.prediction-forms {
    display:flex;
    flex-direction: column;
    width:150px;
    margin:0 auto;
    text-align: center;
    padding:10px;
}
.prediction-forms select {
    font-family: 'Titillium Web', sans-serif;
}
.prediction-forms .submit-btn {
    width: 100px;
    margin: 15px auto;
    padding:5px;
    border-radius: 5px;
    border: none;
    background-color: var(--black);
    color: var(--light-grey);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.prediction-forms .submit-btn:active {
    background-color: var(--green);
    border: none;
}

/* STANDINGS PAGE */
.standings-hero {
    background: var(--black);
    color: var(--white);
    padding: 25px 10%;
}
.flags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}
.flag {
    width:50px;
    height: auto;
    list-style: none;
}
/* standings page boxes */
.player-standings-box, .champ-standings-box {
    padding:10px 0;
}
/* player-standings-box */
.standings-title {
    margin:10px 5%;
}
.points-list-container {
    list-style: none;
    width:90%;
    margin:10px auto;
    border:1px solid var(--grey);
    background: var(--white);
}
.player-standings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:25px;
    cursor: pointer;
}
.points-list-container {
    cursor: pointer;
    transition: all 200ms linear;
}
.points-list-container:hover {
    background: var(--grey-hover);
    border-color: var(--black);
    transition: all 200ms linear;
}
.points-list {
    width:75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:25px;
}
.prev-points, .points-total {
    list-style: none;
}
.prev-points {
    color: var(--grey);
}
@media screen and (max-width:768px) {
    .prev-points {
        display:none;
    }
}
.no-rows {
    display: none;
}
.points-tally {
    font-weight: 600;
    color: var(--red);
}

/* previous player predictions to show when list item clicked */
.previous-player-predictions {
    height: 0px;
    overflow: hidden;
    transition: all 200ms linear;
}
.previous-player-predictions.clicked {
    padding-bottom: 10px;
    height:fit-content;
    transition: all 200ms linear;
}
.previous-prediction-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.previous-prediction-ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:50px;
    overflow: scroll;
    padding:0 10px;
}
.previous-prediction-item h5 {
    font-size: 1rem;
    color:var(--blue);
}



.drivers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px 0;
}

.constructors-list {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-logo {
    list-style: none;
    width:150px;
    height:auto;
    padding:25px;
}

/* show/hide each tab and tab styling */
.constructors-list {
    display: none;
}
.drivers-list {
    display: block;
}
.constructors-list.show {
    display: flex;
}
.drivers-list.hide {
    display:none;
}


@media screen and (max-width:768px) {
    
}
@media screen and (max-width:500px) {

}




/*POINTS SYSTEM (points-system.html)*/
.points-system {
    padding: 10px 0;
    color: var(--black);
}
.points-system h3 {
    text-align: center;
    text-transform: capitalize;
}
.points-table {
    margin:0 auto;
    padding:10px 0;
}
.points-table
.bold-row {
    font-weight: bold;
}
.rewards-table {
    margin:0 auto;
    width:100px;
    text-align: center;
}
.text-right {
    text-align: right;
}



/*DRIVER FORMATTING*/
.driver-container {
    border: 1px solid var(--grey-hover);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:300px;
    height:50px;
    margin: 5px auto;
}
.driver-img {
    width:25%;
    height:100px;
}

.driver-details {
    margin-left: 10px;
    display: flex;
    gap:15px;
    align-items: center;
}
.driver-number {
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}
.driver-name {
    display: flex;
    flex-direction: column;
}
.firstname {
    text-transform: capitalize;
    font-size: 0.5rem;
}
.surname {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1rem;
}



/* PREDICTION-PAGE.PHP */
.prediction-title-h2 {
    text-align: center;
    padding:25px;
}
.information {
    text-align: center;
    padding-bottom:25px;
}

/* time-up section */
.times-up-section {
    margin:10% 0;
    text-align: center;
}
.time-up-title {
    color:var(--red);
}

/* hide form and show time up message */
.prediction-section.hide,
.times-up-section.hide {
    display: none;
}

.times-up-section,
.prediction-selection {
    display: block;
}

/* FORM-HANDLING.PHP */
.form-submission-thanks {
    text-align: center;
    padding:10% 0;
}

/* LOGIN and SIGNUP pages */
.form-pages {
    margin:25px auto;
    width:25%;
    height:auto;
    padding:25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10%;
    background-color: var(--light-grey);
    border-radius: 15px;
}
.forms-h1 {
    font-size: 2rem;
}
.forms {
    margin-top: 15px;
    height:45%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signup-form {
    height:65%;
    justify-content: space-between;
    gap:15px;
}
.form-div {
    display: flex;
    flex-direction: column;
}
.text-fields {
    height:30px;
    width:200px;
}
.form-btn:hover {
    cursor: pointer;
}
.form-btn:active {
    font-weight: bold;
}
.form-btn {
    margin:10px;
    font-size: 1.1rem;
    font-style: normal;
}