/***font importation, variable construction etc.***/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/***page setup***/
*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red:#ff0000ab;
    --blue:#0036faa6;
    --black:#141414;
    --grey:#a9a9a9;
    --light-grey:#ededed;
    --white:#ffffff;
    --transparent-white:#f8f8f883;
    --grey-hover:#e2e2e2;
    --green:#209500;
}

/*typography*/
html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

/*COMMON STYLING*/
.page-alignment {
    position: relative;
    top:75px;
    z-index:1;
    margin-bottom: 50px;
}
img {
    width:100%;
    height:100%;
}
.btn {
    border:none;
    background:none;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    padding:5px;
    border-radius: 5px;
    color: var(--black);
    text-decoration: none;
}
.btn:hover {
    background-color: var(--grey-hover);
}
.btn:active {
    border:1px solid var(--grey-hover);
    background: none;
}
.h3-title {
    text-transform: capitalize;
    padding:5px;
    width:fit-content;
    font-weight: 400;
    font-size: 1rem;
}

/*transparent white box, common across pages*/
.transparent-white-box {
    background-color: var(--transparent-white);
    width:80%;
    margin:0 auto;
    border-radius: 5px;
    color:var(--white);
}

/*header*/
.header {
    position:fixed;
    z-index: 10;
    background-color: var(--white);
    width:100%;
    height: 75px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 10%;
}
@media screen and (max-width:768px) {
    .header {
        width:100%;
    }
}
.logo-cont {
    width:10%;
    min-width:100px;
    overflow: hidden;
}
.nav-screen {
    display: none;
}
.nav-screen.active{
    display: block;
    position: fixed;
    top:75px;
    left:0;
    width:100%;
    height:100vh;
    height:100svh;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.nav-list {
    width:80%;
    margin:0 auto;
}
.nav-item {
    list-style: none;
    padding:50px 0;
}
.nav-item a {
    color:var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-item a:hover {
    font-weight: 700;
}

/*HOMEPAGE (index.html)*/
/* top banner */
.race-weekend {
    height:200px;
    background-color: var(--black);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:50px 10%;
}
#race-country {
    text-transform: uppercase;
    font-size: 3rem;
}
@media screen and (max-width:768px) {
    .race-weekend {
        height:150px;
    }
    #race-country {
        font-size: 2rem;
    }
}
@media screen and (max-width:500px) {
    .race-weekend {
        flex-direction: column;
        gap:10px;
        height: auto;
        padding:25px 10%;
    }
    .flag-cont {
        width:100px;
        height:50px;
    }
}
.flag-cont {
    max-width:200px;
    max-height:100px;
    overflow: hidden;
}

.time-banner {
    height:50px;
    padding:0 10%;
    background-color: var(--green);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.timer, .timer-text {
    font-size: 1.5rem;
}
/* stats and predictions box */
.s-p-container {
    background-color: var(--light-grey);
    margin:25px 10%;
}
.tabs-list {
    width:100%;
    display:flex;
    align-items: center;
}
.tab {
    list-style: none;
    width:50%;
    padding:10px;
    text-align: center;
}
.tab:hover, .tab:focus {
    font-weight: 600;
}
.stats-box, .predictions-box {
    padding:10px 0;
    overflow: hidden;
}
.predictions {
    background: var(--white);
}
.stats.hide {
    background: var(--white);
}
.predictions.show {
    background: none;
    font-weight: 600;
}
.stats {
    background: none;
}



/* show/hide each tab and tab styling */
.predictions-box {
    display: none;
}
.predictions-box.show {
    display: block;
}
.stats-box {
    display: block;
}
.stats-box.hide {
    display:none;
}



/* stats selection */
.stats-h3 {
    padding-bottom:10px;
    cursor: pointer;
}
.stats-h3:hover {
    text-decoration: underline;
}
.circuit {
    margin: 0 auto;
    width:90%;
}
.right-arrow {
    transform: rotate(45deg);
    transition: all 200ms linear;
}
.right-arrow.rotate {
    transform: rotate(-45deg);
    transition: all 200ms linear;
}


/* hide + show drop-down previous results */
.previous-year-result, .previous-race-result {
    display:none;
}
.previous-year-result.show, .previous-race-result.show {
    display:block;
}


/* predictions selection */
/* name selection */
.names-list {
    width:90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
}
.name {
    list-style: none;
    padding:10px 25px;
    cursor: pointer;
}
.name:hover, .name:focus {
    font-weight: 600;
}
.ali-pred,
.ed-pred,
.jack-pred,
.toby-pred,
.tom-pred,
.owen-pred {
    padding-top: 10px;
    display:none;
}
.ali-pred.show,
.ed-pred.show,
.jack-pred.show,
.toby-pred.show,
.tom-pred.show,
.owen-pred.show {
    display:block;
}




@media screen and (max-width:768px) {
    
}
@media screen and (max-width:500px) {

}


/* .race {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:25px 0;
}
.race h2 {
    color:var(--white);
    text-transform: uppercase;
}
.flag-cont {
    width:25%;
    height: auto;
    overflow: hidden;
}
.race-predictions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.race-predictions h3 {
    text-transform: capitalize;
    padding:10px;
}
.prediction-selection-names {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name-item {
    width:100%;
    text-align: center;
    padding:5px 0px;
    list-style: none;
    cursor: pointer;
}
.name-item:hover {
    background-color: var(--transparent-white);
    border-radius: 5px 5px 0 0;
}
.individual-prediction {
    background-color: var(--transparent-white);
    border-radius: 0 0 5px 5px;
    width:100%;
}
.prediction-list {
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--black);
}
.ali-pred,
.ed-pred,
.jack-pred,
.toby-pred,
.tom-pred,
.owen-pred {
    display: none;
}
.ali-pred.show-pred,
.ed-pred.show-pred,
.jack-pred.show-pred,
.toby-pred.show-pred,
.tom-pred.show-pred,
.owen-pred.show-pred {
    display: block;
}
.name-item.active {
    background-color: var(--transparent-white);
    color:var(--black);
    border-radius: 5px 5px 0 0;
} */

/*STANDINGS PAGE (standings.html)*/
.standings {
    color:var(--white);
    padding:10px 10%;
}
@media screen and (max-width:768px) {
    .standings {
        padding:10px;
    }
}
.flags {
    display:flex;
    margin-bottom: 50px;
}
.flag {
    padding:5px;
    list-style-type: none;
    width:50px;
    height:auto;
    overflow: hidden;
}
.flag:first-child {
    padding-left: 0;
}
.standings-box {
    width:100%;
}
.standings-table {
    width:100%;
    padding:10px;
}
.table-header {
    text-decoration: underline;
    text-align: center;
}
.table-numbers {
    text-align: center;
}
.overall-points {
    font-weight: bold;
}

/*CHAMPIONSHIP PREDICTIONS (champ-predictions.html)*/
.champ-predictions {
    color:var(--white);
    padding:10px 0;
}
@media screen and (max-width:768px) {
    .champ-predictions {
        padding:10px;
    }
}
.constructors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding:10px 0;
}
.team-logo {
    width:50px;
    height:50px;
    overflow: hidden;
}
.drivers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px 0;
}
.players-champ-predictions {
    margin:20px auto;
}
.players-champ-predictions h3 {
    text-transform: capitalize;
    text-align: center;
    padding:10px;
}

/*POINTS SYSTEM (points-system.html)*/
.points-system {
    padding: 10px 0;
}
.points-system h3 {
    text-align: center;
    text-transform: capitalize;
}
.points-table {
    margin:0 auto;
    padding:10px 0;
}
.points-table
.bold-row {
    font-weight: bold;
}
.rewards-table {
    margin:0 auto;
    width:100px;
    text-align: center;
}
.text-right {
    text-align: right;
}



/*DRIVER FORMATTING*/
.driver-container {
    border: 1px solid var(--grey-hover);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:300px;
    height:50px;
    margin: 5px auto;
}
.driver-img {
    position: relative;
    z-index: 1;
    width:25%;
    height:100px;
    opacity: 1;
}

.driver-details {
    margin-left: 10px;
    display: flex;
    gap:15px;
    align-items: center;
}
.driver-number {
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}
.driver-name {
    display: flex;
    flex-direction: column;
}
.firstname {
    text-transform: capitalize;
    font-size: 0.5rem;
}
.surname {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1rem;
}



